/* Colors*/
$primary-color: #ffffff
$background-color: #000000
$hover-color-sidebar: rgba(131, 131, 136, 0.26)
$background-button-color: rgba(131, 131, 136, 0.26)
$hover-button-color: #eeeeee19
$text-color: #333
$text-footer-color: #ffffff74

/* Font */
$base-font-family: 'Poppins', sans-serif white
$base-font-size: 16px
$font-size-footer: 10px

/* Widths */
$sidebar-width: 200px
$title-width: 120px
$post-img-width: 250px


/*Heights*/
$sidebar-height: 100%
$title-height: 35px
$post-img-height: 250px
$body-height:100vh

/* Spacing*/
$base-spacing: 20px
$small-spacing: 10px

$flex: flex
$flex-end: flex-end
$center:center

/*direction*/
$direction-row: row
$direction-column: column


/*margin*/
$margin-top:100vh
$margin-bottom:20px
$espace-links-border:10px
$margin-footer:50px

/*decoration*/
$links-line:none
$espace-links:5px 
$border-langues: none