
/* Colors*/
$primary-color: #ffffff
$background-color: #000000
$hover-color-sidebar: rgba(131, 131, 136, 0.26)
$background-button-color: rgba(131, 131, 136, 0.26)
$hover-button-color: #eeeeee19
$text-color: #333
$text-footer-color: #ffffff74
$bg-cercle_header: #121212
$background-color: #000000
$background-button-color: rgba(131, 131, 136, 0.26)
$bg-border: #141414
$color-border-icone1_heder: #23232393
$background-color-icone2_heder: #232323

/* Font*/
$base-font-family: 'Poppins', sans-serif
$base-font-size: 16px
$font-size-footer: 10px
$font-size-header-a: 13px
$font-size-cercle-storis_header: 35px

/* Widths */
$sidebar-width: 14vw
$title-width: 120px
$post-img-width: 200px
$width-header: 60%
$width-cercle_header: 55px
$width-image-profile: 100px

/*Heights*/
$sidebar-height: 100%
$title-height: 35px
$post-img-height: 210px
$body-height: 120vh
$max-height:120vh
$full-height: 100%
/* Spacing*/
$base-spacing: 20px
$small-spacing: 10px
$xsmall-spacing:4px
$high-spacing:60px
$flex: flex
$flex-end: flex-end
$center: center

/*direction*/
$direction-row: row
$direction-column: column

/*margin & padding*/
$pading-top_header: 20px
$margin-top: 100vh
$margin-bottom: 20px
$espace-links-border: 10px
$margin-footer: 50px
$pading-top_header: 20px
$margin-left-section-bar-stories_header: 30px
$border-radius-icone-stori_header: 50px
$base-padding: 20px
/*decoration*/
$links-line: none
$espace-links: 5px
$border-langues: none
