@import "../abstracts/variables"

footer
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: 10%
    width: 60%

.footer
    background-color: $background-color
    display: $flex
    flex-direction: $direction-column
    align-items: $center

.footer-links
    margin-bottom: $margin-bottom
    align-items: $center

a
    color: $text-footer-color
    font-size: $font-size-footer
    text-decoration: $links-line
    margin-right: $espace-links-border

.footer-meta
    display: $flex
    flex-direction: $direction-row
    gap: $espace-links
    font-size: $font-size-footer
    color: $text-footer-color
    margin-bottom: $margin-footer
    align-items: $center

#Dropdown
    background-color: $background-color
    color: $text-footer-color
    font-size: $font-size-footer
    border: $border-langues
@media (max-width:768px)
    footer
        height: 20%
        justify-content: center
        width: $full-height
        padding-bottom: 0px
        height: 20%
        div
            width: 90%
            display: flex
            margin-bottom:10px
            justify-content: center
            align-items: center
            flex-wrap: wrap 

            a
              font-size: 8px

            #Dropdown
                font-size: 8px

@media (max-width: $breakpoint-mobile)
    .footer
      display: none