@import "../abstracts/variables"
@import "../abstracts/mixins"
body
    box-sizing: border-box
    height: $max-height
    margin: 0
    padding: 0
    background-color: $background-color

main
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: calc($full-height - 300px)
    height: $full-height
    margin-left: 200px
    width: auto
    padding: 15px
section
    height: $full-height
    width: 60%
    height: 65%

.high-container
    display: flex
    align-items: center
    flex-direction: column
    position: relative
    min-height: 20px
    ::before
        @include before-decorator(rgba(255, 255, 255, 0.027), 70%, 1px, 0, 50%, translateX(-50%))

.ic2 , .ic3
    color: #ffffff16
.butt-nm
    display: flex
    justify-content: center
    align-items: center
    gap: $high-spacing
    padding: $base-padding
    ::before
        @include before-decorator(rgba(255, 255, 255, 0.197), 10%, 1px, 0, 320px)
    svg
        cursor: pointer
        color: $primary-color
    button
        font-size: 12px
        background-color: transparent
        border: 1px solid transparent
        color: $primary-color
        cursor: pointer
.posts
    display: flex
    justify-content: flex-start
    cursor: pointer
    img
        width: $post-img-width
        height: $post-img-height

.photo
    display: grid
    grid-template-columns: repeat(3, 200px)
    gap: $xsmall-spacing

@media (max-width:$breakpoint-tablet)
    body
        height: 100vh
        padding: 0
        margin: 0
    main
        width: 80% 
        height:100%
        padding: 0
       

        section
            width: $full-height
            height: 60%
            .butt-nm
                ::before
                    left: 196px

@media (max-width: $breakpoint-mobile)
  body
    width: 100%
    height: 100%
    padding: 0
    margin: 0
  main
    margin-left: 0
    width: 100%
    height: 100%
    padding: 0
    margin: 0
  header
    height: 30%
    padding-top: 50px
  section
    height: calc(70% - 1px)
    width: 100%
    padding-bottom:100px
  .butt-nm 
    border-top: 0.8px solid rgb(65, 65, 65) 
    width:100%
    gap: 120px
    padding: 10px 0  
  svg
    width: 26px
    height: 26px
  button
    display: none
  .photo
    display: grid
    grid-template-columns: repeat(3, 33.33%)
    gap: 2px
    
    .posts img
      width: 100%
      height: 200px
      object-fit: cover

     